   /* font */
   @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


   body {
     margin: 0;
     font-family: 'Ubuntu', sans-serif;
     background-color: var(--background);
     color: #fff;
   }
   
   /* layout */
   :root {
     --primary: #1bad7a;
     --error: #cb0808;
     --background: rgb(109, 125, 142);
   }
   
   header {
     width: 100%;
     background-color: var(--primary);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
   }
   
   header .container {
     max-width: 1400px;
     width: 100%;
     margin: 0 auto;
     padding: 0px 20px;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }
   
   header a {
     color: #fff;
     text-decoration: none;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
   
   }
   
   header a:hover {
     color: #fff;
     text-decoration: underline;
     transform: translateY(-2px);
   
   }
   
   .pages {
     max-width: 1400px;
     padding: 20px;
     margin: 0 auto;
   }
   
   .home {
     display: grid;
     grid-template-columns: 2fr 1fr;
     gap: 20px;
   }
   
   h2 {
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
   }
   
   .transaction-details {
     background-color: rgb(63, 72, 81);
     border-radius: 4px;
     margin: 12px auto;
     padding: 7px 10px 15px 10px;
     position: relative;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
   }
   
   .transaction-details h3 {
     display: inline-block;
     margin: 0;
     font-size: 1.5em;
     font-weight: 400;
   }
   
   .Amount {
     position: absolute;
     right: 10px;
     display: inline-block;
     margin: 0;
     font-size: 1.3em;
   }
   
   .date {
     position: relative;
     display: block;
     margin: 0;
     font-size: 1em;
   }
   
   .create {
     position: relative;
     background-color: var(--primary);
     border-radius: 4px;
     align-items: flex-start;
     display: grid;
     grid-template-columns: max-content 1fr;
     align-items: center;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     height: 220px;
     width: 100%;
   
   }
   
   .create h2 {
     margin: 0;
     padding: 20px;
     text-align: center;
     grid-column: 1 / span 2;
   }
   
   .create input, .create select {
     margin: 5px 10px 5px 0px;
     grid-column: 2;
     border-radius: 4px;
     border-color: #fff;
   }
   
   .create input:hover, .create select:hover {
     border-color: var(--primary);
   }
   
   .create label {
     margin: 5px;
     grid-column: 1;
   }
   
   .create button {
     margin: 10px;
     display: block;
     font: inherit;
     border-radius: 4px;
     background-color: var(--primary);
     border-color: #fff;
     color: #fff;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
   
   }
   
   .create button:hover {
     background-color: #fff;
     color: var(--primary);
     transform: translateY(-2px);
   }
   
   p.error {
     display: inline-block;
     padding: 5px;
     background: #ffefef;
     border: 1px solid var(--error);
     color: var(--error);
     border-radius: 4px;
     margin: 10px 10px;
   }
   
   .deleteButton {
     position: absolute;
     bottom: 7px;
     right: 10px;
     display: block;
     color: #fff;
     background-color: var(--background);
     border-color: var(--background);
     margin: 0;
     padding: 2px 5px;
     border-radius: 4px;
     font-size: 1em;
     font-weight: 400;
   }
   
   .deleteButton:hover {
     background-color: var(--error);
     color: #fff;
     border-color: var(--error);
   }
   
   .cashFlow {
     background-color: var(--primary);
     border-radius: 4px;
     display: grid;
     align-items: center;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     height: 160px;
     position: relative;
     width: 100%;
     margin: 0;
     margin-top: 10px;
   }
   
   .cashFlow h3 {
     font-size: 4em;
     text-align: center;
     margin: 0px;
   }
   
   .cashFlow h2 {
     margin: 0;
     padding-top: 0px;
     padding-bottom: 0px;
     text-align: center;
     font-size: 2em;
   }
   
   .spendingDisplay {
     background-color: var(--primary);
     border-radius: 4px;
     display: grid;
     align-items: center;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     height: 160px;
     position: relative;
     width: 100%;
     margin: 0;
     margin-top: 10px;
   }
   
   .spendingDisplay h3 {
     font-size: 4em;
     text-align: center;
     margin: 0px;
   }
   
   .spendingDisplay h2 {
     margin: 0;
     padding-top: 0px;
     padding-bottom: 0px;
     text-align: center;
     font-size: 2em;
   }
   
   .incomeDisplay {
     background-color: var(--primary);
     border-radius: 4px;
     display: grid;
     align-items: center;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     height: 160px;
     position: relative;
     width: 100%;
     margin: 0;
     margin-top: 10px;
   }
   
   .incomeDisplay h3 {
     font-size: 4em;
     text-align: center;
     margin: 0px;
   }
   
   .incomeDisplay h2 {
     margin: 0;
     padding-top: 0px;
     padding-bottom: 0px;
     text-align: center;
     font-size: 2em;
   }
   
   .links {
     display: inline-flex;
     font-size: 1.5em;
     padding: 0;
   }
   
   .incomeButton, .spendingButton {
     margin-right: 50px;
   }
   
   
   .loginForm, .registerForm {
     position: relative;
     background-color: var(--primary);
     border-radius: 4px;
     align-items: flex-start;
     display: grid;
     grid-template-columns: max-content 1fr;
     align-items: center;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
     height: 220px;
     width: fit-content;
   }
   
   .loginForm h2, .registerForm h2 {
     margin: 0;
     padding: 20px;
     text-align: center;
     grid-column: 1 / span 2;
   }
   
   .loginForm input, .registerForm input {
     margin: 5px 10px 5px 0px;
     grid-column: 2;
     border-radius: 4px;
     border-color: #fff;
   }
   
   .loginForm input:hover, .registerForm input:hover {
     border-color: var(--primary);
   }
   
   .loginForm label, .registerForm label {
     margin: 5px;
     grid-column: 1;
   }
   
   .loginForm button, .registerForm button {
     margin: 10px;
     display: block;
     font: inherit;
     border-radius: 4px;
     background-color: var(--primary);
     border-color: #fff;
     color: #fff;
     text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
   
   }
   
   .loginForm button:hover, .registerForm button:hover {
     background-color: #fff;
     color: var(--primary);
     transform: translateY(-2px);
   }
   